body {
    background-image: url(../img/pattern.jpg);
    font-family: 'Slabo 27px', serif;
    margin: 0px;
}

header {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

section {
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    position: relative;
    top: 70px;
    padding: 20px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
}

article {
    border-bottom: 1px solid lightgrey;
}

h5 {
    text-align: center;
}

footer {
    display: flex;
    position: relative;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.movies {
    border-collapse: collapse;
    width: 100%;
}

.movies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(96, 60, 255);
    color: white;
}

.movies td, .movies th {
    border: 1px solid #ddd;
    padding: 8px;
}

.movies tr:nth-child(even){
    background-color: #f2f2f2;
}

.movies tr:hover {
    background-color: #ddd;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    width: 500px;
}

.row-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
    padding-bottom: 10px;
    width: 400px;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type=text], input[type="password"], input[type=number], textarea, select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

